@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'muli' , sans-serif;

}

body{
 
 background-image: url("../src/Images/cri2.jfif");

}

.card{
  background-color: rgba(0,0,0,0.5);
box-shadow: 0 4px 8px 0 rgba(0,0,0,1.5);
  transition: 0.3s;
  border-radius: 25px;
perspective: 1000px;
}


.card-title{
  font-size:21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

